.git
.github
.idea
.vscode
.env
.env.*
!.env.example
node_modules
vendor
public/build
storage/app/mysql-data
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
tests
*.log
